.font-link {
	font-family: "Fira Sans", sans-serif;
}
.Flipper-nav {
	background-color: tomato;
}
.Flipper {
	border: 2px solid black;
	margin-left: 10em;
	margin-right: 10em;
	padding-top: 1em;
}
.Flipper-btn {
	border-radius: 15%;
	border: none;
	background: none;
	font-size: large;
}
.Flipper-numhead {
	display: inline;
}
.Flipper-numtail {
	display: inline;
}
